name: Build
permissions: read-all

on:
  push:

  workflow_call:
    inputs:
      coverage:
        required: false
        type: boolean

jobs:
  build:
    concurrency: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Cache dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.stack
          key: stack-${{ hashFiles('package.yaml', 'stack.yaml') }}
          restore-keys: stack-

      - name: Cache build artifacts
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .stack-work
          key: build-${{ hashFiles('app/**', 'src/**', 'test/**') }}
          restore-keys: build-

      - uses: haskell-actions/setup@0512451d82f3ca8c147db62e30464e7c4ca63d30 # v2.9.1
        with:
          enable-stack: true

      - name: Build and test
        if: ${{ !inputs.coverage }}
        run: stack build --test

      - name: Coverage
        id: coverage
        if: ${{ inputs.coverage }}
        run: |
          stack build --test --coverage
          echo "report=$(stack path --local-hpc-root)" >> $GITHUB_OUTPUT

      - name: Upload coverage report
        if: ${{ inputs.coverage }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: coverage-report
          path: ${{ steps.coverage.outputs.report }}
