name: HLint
permissions: read-all

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '5 4 14 * *'

jobs:
  hlint:
    name: Scan code with HLint
    runs-on: ubuntu-latest
    permissions:
      # Needed to upload the results.
      security-events: write
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: haskell-actions/hlint-scan@main
